.album-principal {
  margin: 3rem;
  height: 336px;
  border-radius: 10px;
  background: linear-gradient(180deg, $cor-secundaria 0%, $cor-tercearia 100%);
  #img-album-principal {
    width: 250px;
    height: 250px;
    border-radius: 10px;
  }
  #img-artista {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    object-fit: cover;
  }
  h2 {
    color: $off-white;
    font-size: $tamanho-do-texto;
    font-weight: 400;
  }
  h4 {
    color: $cor-secundaria;
    font-size: $tamanho-do-texto/3;
  }
  p {
    margin-top: 5px;
    color: $cor-primaria;
  }
}
