.musica{
  display: flex;
  margin: 3rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: $cor-secundaria;
  .acoes-musica{
    display: flex;
    .link{
      padding: 5px;
      text-decoration: none;
      text-transform: none;
      &:hover{
        background-color: $hover;
        border-radius: 50%;
      }
    }
  }
}