.recomendaes {
    width: 1427px;
    height: 897px;
  }
  
  .recomendaes .overlap-group {
    position: relative;
    height: 876px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgb(44, 40, 40) 0%, rgba(0, 0, 0, 0) 100%);
  }
  
  .recomendaes .album-recomendao {
    display: flex;
    flex-direction: column;
    width: 224px;
    height: 312px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 139px;
    left: 765px;
  }
  
  .recomendaes .album-cover {
    position: relative;
    width: 224px;
    height: 224px;
    object-fit: cover;
  }
  
  .recomendaes .nome-album {
    position: relative;
    width: 224px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .recomendaes .artista {
    position: relative;
    width: 224px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .recomendaes .div {
    top: 528px;
    left: 765px;
    display: flex;
    flex-direction: column;
    width: 224px;
    height: 312px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
  }
  
  .recomendaes .album-recomendao-2 {
    top: 139px;
    left: 1118px;
    display: flex;
    flex-direction: column;
    width: 224px;
    height: 312px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
  }
  
  .recomendaes .album-recomendao-3 {
    top: 528px;
    left: 1118px;
    display: flex;
    flex-direction: column;
    width: 224px;
    height: 312px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
  }
  
  .recomendaes .album-recomendao-4 {
    top: 139px;
    left: 412px;
    display: flex;
    flex-direction: column;
    width: 224px;
    height: 312px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
  }
  
  .recomendaes .album-recomendao-5 {
    top: 528px;
    left: 412px;
    display: flex;
    flex-direction: column;
    width: 224px;
    height: 312px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
  }
  
  .recomendaes .album-recomendao-6 {
    top: 139px;
    left: 59px;
    display: flex;
    flex-direction: column;
    width: 224px;
    height: 312px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
  }
  
  .recomendaes .album-recomendao-7 {
    top: 528px;
    left: 59px;
    display: flex;
    flex-direction: column;
    width: 224px;
    height: 312px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
  }
  
  .recomendaes .text-wrapper {
    position: absolute;
    top: 54px;
    left: 59px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  