@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

//fontes
$fonte-primaria: 'Roboto', sans-serif;
$fonte-secundaria: "Roboto-Bold", Helvetica;

//Icones
$material-symbols: "Material Symbols Outlined";

// cores 
$cor-primaria:#000000 ;
$cor-secundaria: #534343;
$cor-tercearia: #2A2222;

$off-white: #F5F5F5;
$purple: #8A43E4;
$hover: #635757;

// tamanho das fontes 
$tamanho-do-texto: 3rem;